# metainfo
.ipynb_checkpoints
.env
.vscode/
!user.env
# pytest
.pytest_cache/
__pycache__/

# temp files
*.swp
*.out

# test data files
data/notebooks/
data/lib
*.csv
*.zip
*.parquet
prefect-test/

# dev
notebooks/
docs/

# terraform artifacts
.terraform
.terraform.*
tfplan
