# metainfo
.ipynb_checkpoints
.env
.vscode/

# pytest
.pytest_cache/
__pycache__/

# temp files
*.swp
*.out

# test data files
data/notebooks/
*.csv
*.zip
*.parquet

# terraform artifacts
.terraform
.terraform.*